# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Google
GOOGLE_GENAI_USE_VERTEXAI=
GOOGLE_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_GCS_BUCKET_NAME=

# App
AUDIO_UPLOAD_DIR=data/uploads
AUDIO_MAX_UPLOAD_SIZE=104857600

# Notion
NOTION_TOKEN=
NOTION_DATABASE_ID=
NOTION_PAGE_ID=